

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Facebook Page Replica</title>
<link rel="stylesheet" href="./login.css">

<style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #bdc3c7;
}

.container{
    width:100%;
    height:100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2rem;

}

.container ul li{
    padding: 0.5rem;
}

.container ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem;

}

@media(max-width:950px){
    .container{
        flex-direction: column;
       
    }
    
}
</style>

</head>
<body>
    <div class="container">
         <ul>
    <li><a href="https://www.ajio.com/c/830303011" target="_blank" rel="noopener noreferrer">
Kurtas</a></li>

    <li><a href="https://www.ajio.com/women-dress-material/c/830303004" target="_blank" rel="noopener noreferrer">
Dress Material
</a></li>

    <li><a href="https://www.ajio.com/c/830303002" target="_blank" rel="noopener noreferrer"> Salwars and Churidars </a></li>

    <li><a href="https://www.ajio.com/c/830303012" target="_blank" rel="noopener noreferrer">  Kurtis and Tunics </a></li>

    <li><a href="https://www.ajio.com/c/830303007" target="_blank" rel="noopener noreferrer"> Blouses</a></li>
    
    <li><a href="https://www.ajio.com/c/830303008" target="_blank" rel="noopener noreferrer"> Sarees </a></li>

    <li><a href="https://www.ajio.com/s/dupattas-5148-70761" target="_blank" rel="noopener noreferrer">Dupattas </a></li>
    
    <li><a href="https://www.ajio.com/s/kurta-suit-sets-5105-70481" target="_blank" rel="noopener noreferrer">Kurta Suit Sets </a></li>

    <li><a href="https://www.ajio.com/c/830303001" target="_blank" rel="noopener noreferrer"> Leggings</a></li>

    <li><a href="https://www.ajio.com/c/830303003" target="_blank" rel="noopener noreferrer">Skirts and Ghagras </a></li>

    <li><a href="https://www.ajio.com/s/shawls-and-wraps" target="_blank" rel="noopener noreferrer"> Shawls And Wraps</a></li>

    <li><a href="https://www.ajio.com/s/palazzos-5149-55061" target="_blank" rel="noopener noreferrer"> Palazzos</a></li>

    <li><a href="https://www.ajio.com/women-bras/c/830311004" target="_blank" rel="noopener noreferrer">Bras </a></li>

    <li><a href="https://www.ajio.com/women-panties/c/830311005" target="_blank" rel="noopener noreferrer">Panties </a></li>

    <li><a href="https://www.ajio.com/women-camisoles-slips/c/830311001" target="_blank" rel="noopener noreferrer"> Camisoles and Slips </a></li>

    <li><a href="https://www.ajio.com/s/maternity-wear-4916-47151" target="_blank" rel="noopener noreferrer"> Maternity Wear</a></li>
    
    <li><a href="https://www.ajio.com/s/thermal-wear-4916-47151" target="_blank" rel="noopener noreferrer">Thermal Wear </a></li>
    
    <li><a href="https://www.ajio.com/s/whp-sunglasses-and-frames-4119-33681" target="_blank" rel="noopener noreferrer"> Sunglasses </a></li>
    
    <li><a href="https://www.ajio.com/s/watches-4067-79511" target="_blank" rel="noopener noreferrer"> Watches</a></li>
    
    <li><a href="https://www.ajio.com/women-bags-belts-wallets/c/830301" target="_blank" rel="noopener noreferrer">Bags, Belts and Wallets </a></li>
    
    
    <li><a href="https://www.ajio.com/s/stoles-and-scarves-4606-64441" target="_blank" rel="noopener noreferrer">Stoles And Scarves </a></li>

    
    <li><a href="https://www.ajio.com/s/socks-and-stockings-4461-75481" target="_blank" rel="noopener noreferrer">Footwear Accessories </a></li>

    
    <li><a href="https://www.ajio.com/s/caps-and-hats-4461-75481" target="_blank" rel="noopener noreferrer"> Caps And Hats</a></li>

    
    <li><a href="https://www.ajio.com/s/luggage-trolleys-4873-71801" target="_blank" rel="noopener noreferrer">Luggage and Trolleys </a></li>

    
    <li><a href="https://www.ajio.com/s/eoss-women-impulse-steal-dresses" target="_blank" rel="noopener noreferrer"> Impulse Steal - Dresses </a></li>

    
    <li><a href="https://www.ajio.com/s/eoss-women-impulse-steal-footwear" target="_blank" rel="noopener noreferrer">Impulse Steal - Footwear </a></li>

    
    <li><a href="https://www.ajio.com/women-casual-shoes/c/830307007" target="_blank" rel="noopener noreferrer"> Casual Shoes</a></li>

    
    <li><a href="https://www.ajio.com/s/women-flat-sandals" target="_blank" rel="noopener noreferrer">Flat Sandals </a></li>

    <li><a href="https://www.ajio.com/women-sports-shoes/c/830307010" target="_blank" rel="noopener noreferrer">Sports Shoes </a></li>

    <li><a href="https://www.ajio.com/s/flip-flop-3598-1852" target="_blank" rel="noopener noreferrer"> Flip Flop</a></li>

    <li><a href="https://www.ajio.com/women-heeled-sandals/c/830307003" target="_blank" rel="noopener noreferrer"> Heeled Sandals</a></li>

    <li><a href="https://www.ajio.com/women-heeled-shoes/c/830307009" target="_blank" rel="noopener noreferrer"> Heeled Shoes</a></li>

    <li><a href="https://www.ajio.com/c/830307006" target="_blank" rel="noopener noreferrer"> Boots </a></li>

    <li><a href="https://www.ajio.com/s/woodland-5149-55061" target="_blank" rel="noopener noreferrer">Woodland </a></li>

    <li><a href="https://www.ajio.com/c/830316017" target="_blank" rel="noopener noreferrer"> Tops</a></li>

    <li><a href="https://www.ajio.com/c/830316018" target="_blank" rel="noopener noreferrer"> Tshirts</a></li>

    <li><a href="https://www.ajio.com/c/830316001" target="_blank" rel="noopener noreferrer">Jeans and Jeggings </a></li>

    <li><a href="https://www.ajio.com/s/dresses-5105-70481" target="_blank" rel="noopener noreferrer">Dresses </a></li>

    <li><a href="https://www.ajio.com/c/830316006" target="_blank" rel="noopener noreferrer">Trousers and Pants </a></li>

    
    <li><a href="https://www.ajio.com/c/830316016" target="_blank" rel="noopener noreferrer">Shirts </a></li>

    
    <li><a href="https://www.ajio.com/c/830316005" target="_blank" rel="noopener noreferrer">Track Pants </a></li>

    
    <li><a href="https://www.ajio.com/s/women-skirts-and-shorts-3621-51391" target="_blank" rel="noopener noreferrer">Skirts And Shorts </a></li>

    
    <li><a href="https://www.ajio.com/c/830316012" target="_blank" rel="noopener noreferrer"> Jackets and Coats </a></li>

    
    <li><a href="https://www.ajio.com/c/830316008" target="_blank" rel="noopener noreferrer"> Jumpsuits and Playsuits </a></li>

    
    <li><a href="https://www.ajio.com/c/830316011" target="_blank" rel="noopener noreferrer"> Shrugs and Boleros</a></li>

    
    <li><a href="https://www.ajio.com/women-sweatshirts-hoodies/c/830316013" target="_blank" rel="noopener noreferrer">Sweatshirts and Hoodies </a></li>

    
   </ul>
    </div>
  
</body>
</html>