{{!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facebook Sign up Page 2022</title>
<link rel="stylesheet" href="./signup.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />


    <style>
* {
    margin: 0px;
    padding: 0px;
  }
  /*Background Section Start*/
  body {
    font-family: "Roboto", sans-serif;
    background-image: url(background.png);
    background-size: cover;
    position: relative;
  }
  body::before {
    position: absolute;
    content: "";
    background: white;
    width: 100%;
    height: 100vh;
    top: -70px;
    opacity: 0.6;
  }
  /*Background Section end*/
  /*From Section Start*/
  form {
    width: 425px;
    height: 500px;
    margin-left: 35%;
    margin-top: 5%;
    box-shadow: 0px 5px 8px 3px #aaaa;
    border-radius: 5px;
    background: white;
    z-index: 10;
    position: relative;
  }
  /*1st title and sub-title start*/
  .first_title {
    font-size: 32px;
    padding: 10px 10px 0px 10px;
  }
  #sub_title {
    color: #606770;
    margin-left: 10px;
  }
  hr {
    margin-top: 10px;
    opacity: 20%;
  }
  /*1st title and sub-title end*/
  /*Input section start*/
  #all {
    width: 180px;
    border-radius: 5px;
    background: #e6e6e6;
    height: 35px;
    border: 1px solid #aaaa;
    font-size: 15px;
    margin-left: 12px;
    margin-top: 10px;
    padding-left: 10px;
  }
  #all1 {
    width: 390px;
    background: #e6e6e6;
    height: 35px;
    border: 1px solid #aaaa;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 12px;
    margin-top: 10px;
    padding-left: 10px;
  }
  /*Input section end*/
  /*Date of birth section start*/
  .sub_title_2 {
    margin-top: 10px;
    font-size: 12px;
  }
  select {
    width: 125px;
    margin-left: 10px;
    margin-top: 10px;
    height: 35px;
    font-size: 15px;
    background: none;
    border: 1px solid #aaaa;
    border-radius: 5px;
  }
  /*Date of birth section end*/
  /*Gender section start*/
  .sub_title_3 {
    margin-top: 10px;
    font-size: 12px;
  }
  #all_gender {
    width: 110px;
    height: 25px;
    border: 1px solid #aaaa;
    padding: 10px 0px 0px 10px;
    border-radius: 5px;
  }
  .female {
    margin-left: 10px;
    margin-top: 5px;
  }
  .male {
    margin-top: -38px;
    margin-left: 151px;
  }
  .other {
    margin-left: 290px;
    margin-top: -38px;
  }
  /*Gender section end*/
  /*last section start*/
  .sub_title_4 {
    margin-left: 10px;
    font-size: 10px;
    color: #606770;
  }
  .sub_title_4 a {
    text-decoration: none;
    color: blue;
  }
  .submit {
    width: 200px;
    height: 40px;
    background: #0ebd02;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    margin-left: 25%;
    margin-top: 20px;
  }
  .submit:hover {
    opacity: 60%;
  }

    </style>


  </head>
  <body>
    <!--Facebook Signup from start-->
    <div class="main">
      <form action="/signup" method="post" >
        <h2 class="first_title">Sign Up</h2>
        <p class="first_sub_title" id="sub_title">It's quick and easy.</p>
        <hr />
        <!--Input section start-->
        <div class="input">
          <input type="text" name="firstname" placeholder="First Name" class="first_name" id="all" required />
          <input type="text" name="lastname" placeholder="Sure Name" class="sure_name" id="all" required />
          <br />
          <input type="email" name="'email" placeholder="Mobile number or email address" id="all1" required />
          <br />
          <input type="password" name="password" placeholder="New password" id="all1" required />
          <br />
        </div>
        <!--Input section end-->
        <!--Date of Birth section start-->
        <p class="sub_title_2" id="sub_title">Date of Birth</p>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
        <select>
          <option>Jan</option>
          <option>Feb</option>
          <option>Mar</option>
          <option>Apr</option>
          <option>May</option>
          <option>Jun</option>
          <option>Jul</option>
          <option>Aug</option>
          <option>Sep</option>
          <option>Oct</option>
          <option>Nov</option>
          <option>Dec</option>
        </select>
        <select>
          <option>2022</option>
          <option>2021</option>
          <option>2020</option>
          <option>2019</option>
          <option>2018</option>
          <option>2017</option>
          <option>2016</option>
          <option>2015</option>
          <option>2014</option>
          <option>2013</option>
          <option>2012</option>
          <option>2011</option>
        </select>
        <!--Date of Birth section end-->
        <br />
        <!--Gender section start-->
        <p class="sub_title_3" id="sub_title">Gender</p>
        <div class="female" id="all_gender">
          <label for="female"><b>Female</b> </label>
          <input type="radio" name="gender" value="female" />
        </div>
        <div class="male" id="all_gender">
          <label for="male"><b>Male</b></label>
          <input type="radio" name="gender" value="male" />
        </div>
        <div class="other" id="all_gender">
          <label for="other"><b>Custom</b></label>
          <input type="radio" name="gender" value="other" />
        </div>
        <!--Gender section end-->
        <br />
        <p class="sub_title_4">
          By clicking Sign Up, you agree to our <a href="#"> Terms, Data Policy</a> and
          <a href="">Cookie</a>
          Policy. You may receive SMS notifications from us and can opt out at any time.
        </p>
        <input type="submit" value="Signup" class="submit" />
      </form>
    </div>
    <!--Facebook Signup from end-->
  </body>
</html> --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Facebook Page Replica</title>
<link rel="stylesheet" href="./login.css">

<style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f0f2f5;
}

.container{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left, .right, form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.left{
    width:500px;
    align-items: flex-start;
}

.left h1{
    font-family: "facebook letter faces";
    font-size: 60px;
    color: #1877f2;
}

.left p{
    font-size: 30px;
    color:#1c1e21;
    height: 200px;
    font-family: "Roboto Condensed", sans-serif;
}

.right{
    width:400px;
}

form{
    background-color: white;
    border-radius: 10px;
    width:400px;
    display: flex;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

form input{
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #999;
    outline: none;
    font-size: 16px;
}

.loginBtn{
    background-color: #1877f2;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: 700;
    transition: 0.5s;
}

.loginBtn:hover{
    background-color: #4257b2;
}

.forget{
    margin: 15px 0;
    text-decoration: none;
    color: #1877f2;
    font-family: 'Arial';
    font-size: 14px;
}

.sign-up{
    padding-top: 20px;
    border-top: 1px solid #999;
    width: 100%;
    display: flex;
    justify-content: center;
}

.signupBtn{
    background-color: #42b72a;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-family: 'Arial';
    font-weight: 600;
    transition: 0.5s;
}

.signupBtn:hover{
    background-color: green;
}

.right p{
    font-family: 'Arial';
    font-size: 15px;
}

@media(max-width:950px){
    .container{
        flex-direction: column;
    }
    
    .left{
        width: 400px;
        align-content: center;
        align-items: center;
    }
    
    .left p{
        height: 75px;
    }
}
</style>

</head>
<body>
   <div class="container">
        <div class="left">
            <h1>facebook</h1>
            <p>Facebook helps you connect and share with the people in your life.</p>
        </div>
        <div class="right">
            <form action="/signup" method="post">
                <input type="text" name="name" placeholder="Email addess or phone number">
                <input type="password" name="password" placeholder="Password">
                <input href="/signup" type="submit" class="loginBtn">Log In</input>
                <a href="" class="forget">Forgotten password?</a>
                <div class="sign-up">
                    <a href="" class="signupBtn">Create New Account</a>
                </div>
            </form>
            <p><b>Create a Page</b> for a celebrity, band or business.</p>
        </div>
    </div>


</body>
</html>